In [1]:
import pandas as pd
from decimal import Decimal 
from pprint import pprint

In [2]:
replacement_labels = {
    'Año': 'Ano',
    'Precio Cierre': 'Preco_fechamento',
    'Cambio %': 'Cambio%',
    'Promedio': 'Media',
    'Mínimo': 'Minimo',
    'Máximo': 'Maximo'
}

cambio_usd_brl = pd.read_html('https://www.dineroeneltiempo.com/divisas/usd-brl/historico?utm_source=chatgpt.com', encoding='UTF-8')[0]

cambio_usd_brl.rename(columns=replacement_labels, inplace=True)

cambio_usd_brl['Preco_fechamento'] = cambio_usd_brl['Preco_fechamento'].round(2)
cambio_usd_brl['Media'] = cambio_usd_brl['Media'].round(2)
cambio_usd_brl['Minimo'] = cambio_usd_brl['Minimo'].round(2)
cambio_usd_brl['Maximo'] = cambio_usd_brl['Maximo'].round(2)

cambio_usd_brl

     Ano  Preco_fechamento     Cambio%  Media  Minimo  Maximo
0   2025              5.42     -12.38%   5.59    5.26    6.36
1   2024              6.18     +27.46%   5.40    4.83    6.75
2   2023              4.85      -8.21%   4.99    4.69    5.48
3   2022              5.29      -5.09%   5.16    4.58    5.73
4   2021              5.57      +7.24%   5.40    4.89    5.88
5   2020              5.19     +29.22%   5.16    4.00    5.97
6   2019              4.02      +3.56%   3.95    3.64    4.28
7   2018              3.88     +17.17%   3.66    3.12    4.22
8   2017              3.31      +1.78%   3.19    3.04    3.41
9   2016              3.26     -17.83%   3.48    3.10    4.17
10  2015              3.96     +49.04%   3.34    2.55    4.25
11  2014              2.66     +12.51%   2.35    2.18    2.76
12  2013              2.36     +15.31%   2.16    1.94    2.46
13  2012              2.05      +9.95%   1.96    1.69    2.14
14  2011              1.86     +12.27%   1.67    1.53    1.95
15  2010              1.66      -4.79%   1.76    1.64    1.92
16  2009              1.74     -24.69%   2.00    1.69    2.45
17  2008              2.32     +30.03%   1.84    1.55    2.62
18  2007              1.78     -16.69%   1.95    1.72    2.16
19  2006              2.14      -8.63%   2.17    2.05    2.40
20  2005              2.34     -11.96%   2.43    2.15    2.79
21  2004              2.66      -8.14%   2.92    2.65    3.23
22  2003              2.89     -18.32%   3.07    2.80    3.69
23  2002              3.54     +53.18%   2.93    2.25    4.02
24  2001              2.31     +18.51%   2.35    1.93    2.84
25  2000              1.95      +8.00%   1.83    1.71    1.99
26  1999              1.81     +49.42%   1.82    1.21    2.21
27  1998              1.21      +8.27%   1.16    1.12    1.21
28  1997              1.12      +7.40%   1.08    1.03    1.12
29  1996              1.04      +6.91%   1.00    0.97    1.04
30  1995              0.97     +14.75%   0.92    0.83    0.97
31  1994              0.85    +625.79%   0.64    0.12    0.96
32  1993              0.12  +2,101.89%   0.03    0.01    0.12
33  1992              0.01  +1,225.00%   0.00    0.00    0.01
34  1991              0.00           -   0.00    0.00    0.00

In [3]:
tables_exp = {}

for year in range(2009, 2024 + 1):
    exp_sample = pd.read_html(f'http://vitibrasil.cnpuv.embrapa.br/index.php?ano={year}&opcao=opt_06&subopcao=subopt_01', encoding='UTF-8')[3]
    exp_sample.dropna(inplace=True)
    exp_sample['Ano'] = year
    exp_sample = exp_sample.loc[exp_sample['Países'] != 'Total']
    new_exp_sample = pd.merge(exp_sample, cambio_usd_brl, on='Ano')
    tables_exp[f'exp_{year}'] = new_exp_sample

In [4]:
tables_exp['exp_2009'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Países            141 non-null    object
 1   Quantidade (Kg)   141 non-null    object
 2   Valor (US$)       141 non-null    object
 3   Ano               141 non-null    int64
 4   Preco_fechamento  141 non-null    float64
 5   Cambio%           141 non-null    object
 6   Media             141 non-null    float64
 7   Minimo            141 non-null    float64
 8   Maximo            141 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.0+ KB

In [5]:
country_names = list(tables_exp['exp_2009']['Países'].unique())
pprint(country_names)

['Afeganistão',
 'África do Sul',
 'Alemanha, República Democrática',
 'Angola',
 'Anguilla',
 'Antígua e Barbuda',
 'Antilhas Holandesas',
 'Arábia Saudita',
 'Argélia',
 'Argentina',
 'Aruba',
 'Austrália',
 'Áustria',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Barein',
 'Bélgica',
 'Belice',
 'Benin',
 'Bermudas',
 'Bolívia',
 'Bósnia-Herzegovina',
 'Brasil',
 'Bulgária',
 'Cabo Verde',
 'Camarões',
 'Canadá',
 'Catar',
 'Cayman, Ilhas',
 'Chile',
 'China',
 'Chipre',
 'Cingapura',
 'Cocos (Keeling), Ilhas',
 'Colômbia',
 'Comores',
 'Congo',
 'Coreia, Republica Sul',
 'Costa do Marfim',
 'Costa Rica',
 'Coveite (Kuweit)',
 'Croácia',
 'Cuba',
 'Curaçao',
 'Dinamarca',
 'Dominica',
 'El Salvador',
 'Emirados Arabes Unidos',
 'Equador',
 'Eslovaca, Republica',
 'Espanha',
 'Estados Unidos',
 'Estônia',
 'Filipinas',
 'Finlândia',
 'França',
 'Gabão',
 'Gana',
 'Gibraltar',
 'Granada',
 'Grécia',
 'Guatemala',
 'Guiana',
 'Guiana Francesa',
 'Guine Bissau',
 'Guine Equatorial',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungria',
 'Ilha de Man',
 'Ilhas Virgens',
 'Índia',
 'Indonésia',
 'Irã',
 'Iraque',
 'Irlanda',
 'Itália',
 'Jamaica',
 'Japão',
 'Jordânia',
 'Letônia',
 'Líbano',
 'Libéria',
 'Luxemburgo',
 'Macau',
 'Malásia',
 'Malavi',
 'Malta',
 'Marshall, Ilhas',
 'Martinica',
 'Mauritânia',
 'México',
 'Moçambique',
 'Montenegro',
 'Namíbia',
 'Nicarágua',
 'Nigéria',
 'Noruega',
 'Nova Caledônia',
 'Nova Zelândia',
 'Omã',
 'Países Baixos',
 'Palau',
 'Panamá',
 'Paraguai',
 'Peru',
 'Pitcairn',
 'Polônia',
 'Porto Rico',
 'Portugal',
 'Quênia',
 'Reino Unido',
 'República Dominicana',
 'Rússia',
 'São Cristóvão e Névis',
 'São Tomé e Príncipe',
 'São Vicente e Granadinas',
 'Senegal',
 'Serra Leoa',
 'Sérvia',
 'Singapura',
 'Suazilândia',
 'Suécia',
 'Suíça',
 'Suriname',
 'Tailândia',
 'Taiwan (Formosa)',
 'Tanzânia',
 'Tcheca, República',
 'Togo',
 'Toquelau',
 'Trinidade Tobago',
 'Tunísia',
 'Turquia',
 'Tuvalu',
 'Uruguai',
 'Vanuatu',
 'Venezuela',
 'Vietnã']

In [6]:
replacement_dict ={'Alemanha, República Democrática': 'Alemanha',
                 'Cayman, Ilhas': 'Ilhas Cayman',
                 'Cocos (Keeling), Ilhas': 'Ilhas Cocos',
                 'Eslovaca, Republica': 'Eslováquia',
                 'Marshall, Ilhas': 'Ilhas Marshall',
                 'Tcheca, República': 'República Tcheca',
                 'Taiwan (FORMOSA)': 'Taiwan',
                 'Coreia, Republica Sul': 'Coréia do Sul'}


mapa_continente = {
    'Rússia': 'Europa',
    'Turquia': 'Ásia',
    'Cazaquistão': 'Ásia',
}

continentes = pd.read_html("https://paintmaps.com/pt/informacoes-do-pais/continente", encoding="UTF-8")[0]
continentes['CONTINENTE'] = (
    continentes['PAÍS']
    .map(mapa_continente)
    .fillna(continentes['CONTINENTE'])
)

In [7]:
tables_exp['exp_2009']

,Países,Quantidade (Kg),Valor (US$),Ano,Preco_fechamento,Cambio%,Media,Minimo,Maximo
0,Afeganistão,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
1,África do Sul,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
2,"Alemanha, República Democrática",225.086,393.482,2009,1.74,-24.69%,2.0,1.69,2.45
3,Angola,54.786,84.235,2009,1.74,-24.69%,2.0,1.69,2.45
4,Anguilla,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
...,...,...,...,...,...,...,...,...,...
136,Tuvalu,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
137,Uruguai,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
138,Vanuatu,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
139,Venezuela,-,-,2009,1.74,-24.69%,2.0,1.69,2.45
140,Vietnã,743,2.143,2009,1.74,-24.69%,2.0,1.69,2.45

In [8]:
tables_exp['exp_2009']['Quantidade (Kg)'].apply(lambda x: '0' if x == '-' else x )

0            0
1            0
2      225.086
3       54.786
4            0
        ...
136          0
137          0
138          0
139          0
140        743
Name: Quantidade (Kg), Length: 141, dtype: object

In [9]:
# Tratando variáveis:
densidade_vm = 0.995 

for year in range(2009, 2024 + 1):
    df = tables_exp[f'exp_{year}'].copy()
    
    # ===== Tratando variáveis =====
    df['Quantidade (Kg)'] = (
        df['Quantidade (Kg)']
        .astype(str)
        .str.strip()
        .replace('-', '0')
        .str.replace('.', '', regex=False)
    )

    df['Valor (US$)'] = (
        df['Valor (US$)']
        .astype(str)
        .str.strip()
        .replace('-', '0')
        .str.replace('.', '', regex=False)
    )

    # ===== Convertendo variáveis =====

    df['Quantidade (Kg)'] = pd.to_numeric(
        df['Quantidade (Kg)'], 
        errors='coerce'
    ).astype('Int64')


    df['Valor (US$)'] = pd.to_numeric(
        df['Valor (US$)'],
        errors='coerce'
    ).astype('Float64')

    # ===== Substituindo textos =====
    df['Países'] = df['Países'].replace(replacement_dict)

    # ===== Criando novas variáveis =====

    # litros = kg / densidade
    df['Quantidade (L)'] = (df['Quantidade (Kg)'] / densidade_vm).round(2)

    df['Valor (R$)'] = (df['Valor (US$)'] * df['Media']).round(2)
    
    df['Valor (L) US$'] = (
    (df['Valor (US$)'] / df['Quantidade (L)'])
    .where(df['Quantidade (L)'] > 0, 0)
    .round(2)
    )
    
    valor_em_reais = df['Valor (US$)'] * df['Media']
    preco_por_litro = valor_em_reais / df['Quantidade (L)']
    
    df['Valor (L) R$'] = (
        preco_por_litro
        .where(df['Quantidade (L)'] > 0, 0)
        .round(2)
    )
    

    df = df.merge(continentes,  left_on="Países", right_on="PAÍS")
    
    total_amount = df['Valor (US$)'].sum()
    df['Market Share'] = (df['Valor (US$)'] / total_amount * 100).round(2)

    df['Quantidade_Volume'] = 'Sem Volume'
    
    mask = df['Quantidade (L)'] > 0
    
    df.loc[mask, 'Quantidade_Volume'] = pd.qcut(
        df.loc[mask, 'Quantidade (L)'],
        q=4,
        labels=['Muito Baixo', 'Baixo', 'Médio', 'Alto']
    )

    # salva de volta
    tables_exp[f'exp_{year}'] = df.drop('PAÍS', axis=1)

In [10]:
tables_exp['exp_2009']

,Países,Quantidade (Kg),Valor (US$),Ano,Preco_fechamento,Cambio%,Media,Minimo,Maximo,Quantidade (L),Valor (R$),Valor (L) US$,Valor (L) R$,CONTINENTE,Market Share,Quantidade_Volume
0,Afeganistão,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,Ásia,0.0,Sem Volume
1,África do Sul,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,África,0.0,Sem Volume
2,Alemanha,225086,393482.0,2009,1.74,-24.69%,2.0,1.69,2.45,226217.09,786964.0,1.74,3.48,Europa,4.8,Alto
3,Angola,54786,84235.0,2009,1.74,-24.69%,2.0,1.69,2.45,55061.31,168470.0,1.53,3.06,África,1.03,Médio
4,Anguilla,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,América do Norte e Central,0.0,Sem Volume
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Tuvalu,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
115,Uruguai,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,América do Sul,0.0,Sem Volume
116,Vanuatu,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
117,Venezuela,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,América do Sul,0.0,Sem Volume
118,Vietnã,743,2143.0,2009,1.74,-24.69%,2.0,1.69,2.45,746.73,4286.0,2.87,5.74,Ásia,0.03,Muito Baixo

In [11]:
tables_exp['exp_2009'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Países             119 non-null    object
 1   Quantidade (Kg)    119 non-null    Int64
 2   Valor (US$)        119 non-null    Float64
 3   Ano                119 non-null    int64
 4   Preco_fechamento   119 non-null    float64
 5   Cambio%            119 non-null    object
 6   Media              119 non-null    float64
 7   Minimo             119 non-null    float64
 8   Maximo             119 non-null    float64
 9   Quantidade (L)     119 non-null    Float64
 10  Valor (R$)         119 non-null    Float64
 11  Valor (L) US$      119 non-null    Float64
 12  Valor (L) R$       119 non-null    Float64
 13  CONTINENTE         119 non-null    object
 14  Market Share       119 non-null    Float64
 15  Quantidade_Volume  119 non-null    object
dtypes: Float64(6), Int64(1), float64(4), int64(1), object(4)
memory usage: 15.8+ KB

In [12]:
tables_exp['exp_2024']

,Países,Quantidade (Kg),Valor (US$),Ano,Preco_fechamento,Cambio%,Media,Minimo,Maximo,Quantidade (L),Valor (R$),Valor (L) US$,Valor (L) R$,CONTINENTE,Market Share,Quantidade_Volume
0,Afeganistão,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,Ásia,0.0,Sem Volume
1,África do Sul,103,1783.0,2024,6.18,+27.46%,5.4,4.83,6.75,103.52,9628.2,17.22,93.01,África,0.02,Baixo
2,Alemanha,6666,48095.0,2024,6.18,+27.46%,5.4,4.83,6.75,6699.5,259713.0,7.18,38.77,Europa,0.6,Médio
3,Angola,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,África,0.0,Sem Volume
4,Anguilla,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,América do Norte e Central,0.0,Sem Volume
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Tuvalu,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
115,Uruguai,36729,62325.0,2024,6.18,+27.46%,5.4,4.83,6.75,36913.57,336555.0,1.69,9.12,América do Sul,0.78,Alto
116,Vanuatu,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
117,Venezuela,122922,199418.0,2024,6.18,+27.46%,5.4,4.83,6.75,123539.7,1076857.2,1.61,8.72,América do Sul,2.5,Alto
118,Vietnã,16,41.0,2024,6.18,+27.46%,5.4,4.83,6.75,16.08,221.4,2.55,13.77,Ásia,0.0,Muito Baixo

In [13]:
# Unificando os DF
unified_samples = pd.concat(
    [tables_exp[f'exp_{year}'] for year in range(2009, 2024 + 1)],
    ignore_index=True
)

In [14]:
unified_samples

,Países,Quantidade (Kg),Valor (US$),Ano,Preco_fechamento,Cambio%,Media,Minimo,Maximo,Quantidade (L),Valor (R$),Valor (L) US$,Valor (L) R$,CONTINENTE,Market Share,Quantidade_Volume
0,Afeganistão,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,Ásia,0.0,Sem Volume
1,África do Sul,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,África,0.0,Sem Volume
2,Alemanha,225086,393482.0,2009,1.74,-24.69%,2.0,1.69,2.45,226217.09,786964.0,1.74,3.48,Europa,4.8,Alto
3,Angola,54786,84235.0,2009,1.74,-24.69%,2.0,1.69,2.45,55061.31,168470.0,1.53,3.06,África,1.03,Médio
4,Anguilla,0,0.0,2009,1.74,-24.69%,2.0,1.69,2.45,0.0,0.0,0.0,0.0,América do Norte e Central,0.0,Sem Volume
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,Tuvalu,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
1900,Uruguai,36729,62325.0,2024,6.18,+27.46%,5.4,4.83,6.75,36913.57,336555.0,1.69,9.12,América do Sul,0.78,Alto
1901,Vanuatu,0,0.0,2024,6.18,+27.46%,5.4,4.83,6.75,0.0,0.0,0.0,0.0,Austrália/Oceania,0.0,Sem Volume
1902,Venezuela,122922,199418.0,2024,6.18,+27.46%,5.4,4.83,6.75,123539.7,1076857.2,1.61,8.72,América do Sul,2.5,Alto
1903,Vietnã,16,41.0,2024,6.18,+27.46%,5.4,4.83,6.75,16.08,221.4,2.55,13.77,Ásia,0.0,Muito Baixo

In [15]:
unified_samples.columns

Index(['Países', 'Quantidade (Kg)', 'Valor (US$)', 'Ano', 'Preco_fechamento',
       'Cambio%', 'Media', 'Minimo', 'Maximo', 'Quantidade (L)', 'Valor (R$)',
       'Valor (L) US$', 'Valor (L) R$', 'CONTINENTE', 'Market Share',
       'Quantidade_Volume'],
      dtype='object')

In [16]:
unified_samples[['Ano', 'Países', 'Quantidade (Kg)', 'Valor (US$)', 'Quantidade (L)', 'Valor (R$)','Valor (L) US$', 'Valor (L) R$', 'Market Share',
       'Quantidade_Volume']]

,Ano,Países,Quantidade (Kg),Valor (US$),Quantidade (L),Valor (R$),Valor (L) US$,Valor (L) R$,Market Share,Quantidade_Volume
0,2009,Afeganistão,0,0.0,0.0,0.0,0.0,0.0,0.0,Sem Volume
1,2009,África do Sul,0,0.0,0.0,0.0,0.0,0.0,0.0,Sem Volume
2,2009,Alemanha,225086,393482.0,226217.09,786964.0,1.74,3.48,4.8,Alto
3,2009,Angola,54786,84235.0,55061.31,168470.0,1.53,3.06,1.03,Médio
4,2009,Anguilla,0,0.0,0.0,0.0,0.0,0.0,0.0,Sem Volume
...,...,...,...,...,...,...,...,...,...,...
1899,2024,Tuvalu,0,0.0,0.0,0.0,0.0,0.0,0.0,Sem Volume
1900,2024,Uruguai,36729,62325.0,36913.57,336555.0,1.69,9.12,0.78,Alto
1901,2024,Vanuatu,0,0.0,0.0,0.0,0.0,0.0,0.0,Sem Volume
1902,2024,Venezuela,122922,199418.0,123539.7,1076857.2,1.61,8.72,2.5,Alto
1903,2024,Vietnã,16,41.0,16.08,221.4,2.55,13.77,0.0,Muito Baixo